$def with (crawlers)
<table>
  $for crawler in crawlers:
  <tr>
    $if crawler.poll() is not None:
      <td>Stopped</td>
    $else:
      <td>Working</td>
    <td>
    <form method="post" action="restart">
        <input name="crawler_id" hidden="true" value=$crawlers.index(crawler)>
        <input type="submit" value="Restart" />
      </form>
    </td>
    <td>
      <form method="post" action="stop">
        <input name="crawler_id" hidden="true" value=$crawlers.index(crawler)>
        <input type="submit" value="Stop" />
      </form>
    </td>
  </tr>
</table>
<form method="post" action="add">
  <input type="submit" value="Add" />
</form>
<form method="post" action="restart_all">
  <input type="submit" value="Restart All" />
</form>
<form method="post" action="stop_all">
  <input type="submit" value="Stop All" />
</form>

